<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbcaba">  <td>21/05/22 20:54:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectListPageTest.createProjectTest()[pri:0, instance:com.portico.qa.testcases.ProjectListPageTest@4da4253]">createProjectTest</td> 
  <td>main@262445056</td>   <td></td> </tr>
<tr bgcolor="fbcaba">  <td>21/05/22 20:52:08</td>   <td>-113110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectListPageTest.setUp()[pri:0, instance:com.portico.qa.testcases.ProjectListPageTest@4da4253]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@262445056</td>   <td></td> </tr>
<tr bgcolor="fbcaba">  <td>21/05/22 20:54:03</td>   <td>2416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectListPageTest.tearDown()[pri:0, instance:com.portico.qa.testcases.ProjectListPageTest@4da4253]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@262445056</td>   <td></td> </tr>
</table>
