<h2>Methods that were not run</h2><table>
<tr><td>com.portico.qa.testcases.LoginPageTest.loginPageTitleTest</td></tr>
<tr><td>com.portico.qa.testcases.ProjectListPageTest.createFolderTest</td></tr>
</table>