<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>21/05/13 12:21:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectListPageTest.createProjectTest()[pri:0, instance:com.portico.qa.testcases.ProjectListPageTest@612679d6]">createProjectTest</td> 
  <td>main@1151593579</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>21/05/13 12:22:12</td>   <td>33511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectPageTest.deleteTheProject()[pri:0, instance:com.portico.qa.testcases.ProjectPageTest@11758f2a]">deleteTheProject</td> 
  <td>main@1151593579</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>21/05/13 12:21:17</td>   <td>-20617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:0, instance:com.portico.qa.testcases.LoginPageTest@1060b431]">loginTest</td> 
  <td>main@1151593579</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>21/05/13 12:21:08</td>   <td>-30321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.portico.qa.testcases.LoginPageTest@1060b431]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1151593579</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>21/05/13 12:21:25</td>   <td>-13142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectListPageTest.setUp()[pri:0, instance:com.portico.qa.testcases.ProjectListPageTest@612679d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1151593579</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>21/05/13 12:22:02</td>   <td>24356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectPageTest.setUp()[pri:0, instance:com.portico.qa.testcases.ProjectPageTest@11758f2a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1151593579</td>   <td></td> </tr>
</table>
